/* variaveis globais */
:root {
    --verde-manaus: #005448;
    --laranja-sunset: #EC6907;
    --charcoal: #1E293B;
    --white: #FFFFFF;
    --gray-light: #F1F5F9;
    --gray-medium: #94A3B8;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;

    --mobile: 480px;
    --tablet: 768px;
    --desktop: 1024px;
    --wide: 1200px;
}
